
body{

    font-family: Comic Sans MS;
    background-image: url(img/Hello\ Kitty\ Wallpaper\ Pink.jpg);
    
}
p{
    width: 50%;
    text-align: justify;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo{
    text-align: center;
    flex-grow: 1;
    letter-spacing: 10px;
}
.imagem{
    width: 150px;
}
.corpo{
    display: flex;
    text-align: center;
    gap: 300px;
}
.nini{
    width: 400px;
    height: 370px;
    border-radius: 60%;
    border: 5px solid pink;
    justify-content: right;
}