
body{

    font-family: Comic Sans MS;
    background-image: url(img/Hello\ Kitty\ Wallpaper\ Pink.jpg);
    
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.titulo{
    text-align: center;
    flex-grow: 1;
    letter-spacing: 10px;
}
.imagem{
    width: 150px;
}